schema/src/main/resources/schema/COPC_IN000001UK01.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
			*************************************************************************************************************************
			* 		XML schema for Interation type : COPC_IN000001UK01
			*
			*		Transmission Wrapper : MCCI_MT010101UK12
			* 		Contorl Act : MCAI_MT040101UK03
			* 		Payload : COPC_MT000001UK01
			* 		
			*		Source information:
			*		Generated by Schema builder version : 
			*    	Created on: 
			* 	
			* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
			*  		Redistribution and use in source and binary forms, with or without
			*  		modification, are permitted provided that the following conditions
			*  		are met:
			*  		1. Redistributions of source code must retain the above copyright
			*     		notice, this list of conditions and the following disclaimer.
			*  		2. Redistributions in binary form must reproduce the above copyright
			*     		notice, this list of conditions and the following disclaimer in the
			*     		documentation and/or other materials provided with the distribution.
			*  		3. All advertising materials mentioning features or use of this software
			*     		must display the following acknowledgement:
			*       	This product includes software developed by Health Level Seven.
			*  		THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
			*  		ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
			*  		IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
			*  		ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
			*  		FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
			*  		DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
			*  		OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
			*  		HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
			*  		LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
			*  		OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
			*  		SUCH DAMAGE.
			*
			**************************************************************************************************************************
		--><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/InfVocab.xsd"/>
   <xs:include schemaLocation="MCCI_MT010101UK12.xsd"/>
   <xs:include schemaLocation="MCAI_MT040101UK03.xsd"/>
   <xs:include schemaLocation="COPC_MT000001UK01.xsd"/>
   <xs:element name="COPC_IN000001UK01">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="COPC_IN000001UK01.MCCI_MT010101UK12.Message"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="COPC_IN000001UK01.MCCI_MT010101UK12.Message">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="creationTime" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="TS">
                     <xs:attribute name="value" use="required" type="ts"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="versionCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="required" type="HL7StandardVersionCode_code"/>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="interactionId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" type="II.NPfIT.Message.oid" use="required"/>
                     <xs:attribute name="extension" type="II.NPfIT.Message.extension" use="required"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="processingCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="required" type="ProcessingID_code"/>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="processingModeCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CS">
                     <xs:attribute name="code" use="required" type="ProcessingMode_code"/>
                     <xs:attribute name="codeSystem" type="oid" use="prohibited"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="acceptAckCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="communicationFunctionRcv"
                     type="MCCI_MT010101UK12.CommunicationFunctionRcv"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="communicationFunctionSnd"
                     type="MCCI_MT010101UK12.CommunicationFunctionSnd"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="ControlActEvent"
                     type="COPC_IN000001UK01.MCAI_MT040101UK03.ControlActEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="COPC_IN000001UK01.MCAI_MT040101UK03.ControlActEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="author" type="MCAI_MT040101UK03.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="author1" type="MCAI_MT040101UK03.Author2" minOccurs="1" maxOccurs="2"/>
         <xs:element name="reason" type="MCAI_MT040101UK03.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subject" type="COPC_IN000001UK01.MCAI_MT040101UK03.Subject"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="COPC_IN000001UK01.MCAI_MT040101UK03.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="PayloadInformation" type="COPC_MT000001UK01.PayloadInformation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="SUBJ"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
</xs:schema>